* {
  font-family: Verdana;
  text-align: center;
  }

h1 {
  font-weight: normal;
  font-size: 50px;
  color: white;
}

h2 {
  background-color: white !important;
  color: white;
  font-weight: 300;
  font-size: 42px;
}

p {
  font-size: 21px;
  color: grey;
}

a, a:visited, a:hover {
  color: aquamarine;
  font-size: 16px;
}

.footer {
  text-align: right;
}
