* {
  font-family: Verdana;
  text-align: center;
  }

h1, h2 {
  color: white;
}

h1{
  font-weight: normal;
  font-size: 50px;
}

p {
  font-size: 21px;
  color: grey;
}

a, a:visited, a:hover {
  color: aquamarine;
  font-size: 16px;
}

.footer {
  text-align: right !important;
}
